extends layout

block content
  h1 ReGen
  p.lead Find out what you want to build with us!
  hr
  .row
    .col-sm-6
      h2 Get Started
      p Register for now to test our services for free now
      p
        a.btn.btn-default(href='/signup', role='button') Register »
